*

!README.md
!.gitignore

!*/

!*dada2_tutorial/dada2_tutorial.R

!*dada2_canine_ibd/dada2_canine_ibd.R
!*dada2_canine_ibd/results_summary.pdf
!*dada2_canine_ibd/alpha_diversity/alpha_diversity_figure.png
!*dada2_canine_ibd/alpha_diversity/alpha_diversity_data.xlsx
!*dada2_canine_ibd/top_20_analysis/top_20_props.csv
!*dada2_canine_ibd/top_20_analysis/top_20_taxa.csv
